.ctrSlider {
  display: flex;
  flex-shrink: 0;
  margin-top: 2rem;
  overflow-x: scroll;
}

.cardItem {
  flex: 1 1 calc(20% - 30px);
  min-width: 200px;
  margin: 5px 10px;
  border-radius: 0.6rem;
  -webkit-border-radius: 0.6rem;
  -moz-border-radius: 0.6rem;
  background-color: rgb(24, 27, 29);
  cursor: pointer;
}

.imgItem {
  width: 100%;
  height: 100%;
  aspect-ratio: 40/57;
  max-width: 100%;
  object-fit: cover;
  margin-top: 0;
}
.wrpGenre {
  display: flex;
  align-items: center;
}

.chipGenre {
  height: 1.4rem;
  width: 4rem;
  border-radius: 20px;
  background-color: rgba(201, 44, 57, 0.6);
  mix-blend-mode: lighten;
  text-align: center;
  margin: 5px 5px;
}

.txtGenre {
  font-size: 8px;
  color: #faa9cb;
  font-weight: 600;
  line-height: 5px;
}

.txtTitle {
  font-size: 14px;
  font-weight: 500;
  color: #f0eeed;
  margin: 10px 10px;
}
